.gdbar img {                       /* Use this to change logo size*/
  width: 700px !important;
  height: 250px !important;
  margin: 80px 20px;
  position: absolute;
  right: 0;
}

.gdbar {                           /* Use this to change logo position and grey bar position*/
  width: 900px !important;
  height: 0px !important;
  position: absolute;
}

#nextsteps {
   color: blue;
}

.title-slide hgroup h1 {               /* Use this to change size of title*/
  font-size: 60px;
  letter-spacing: 0;
}
