# RStudio and History files
.Rproj.user/
.Rproj.user
.Rhistory
.RData

# The devtools zip is downloaded when the package is updating itself 
devtools.zip

# Protected Information; see cubuspl42's answer in http://stackoverflow.com/questions/2415873/exceptions-in-gitignore
UnsharedMaterial/*
DataUnshared/*

# Keep the README in the unshared directories
!DataUnshared/README.md
!DataUnshared/Contents.md

#Image Thumbnails on Windows
Thumbs.db

#Ignore README.html files, because the .md version are converted automatically by GitHub
README.html
